#compareApp .btn-blue{
    border-bottom: 3px solid #0099CC;
    background-color: #33b5e5;
    color: #ffffff;
    border-radius: 0;
}

#compareApp .btn-blue:hover{
    color: #ffffff;
}

#compareApp .tab{
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid #555555;
}

#compareApp .margin-top{
    margin-top: 14px;
}

@media (max-width: 992px) {
    #compareApp .hidden-mobile{
        display: none;
    }
}

@media (min-width: 991px) {
    #compareApp .hidden-desktop{
        display: none;
    }
}
