<!DOCTYPE html>
<html lang="en" ng-app="compare">
<head>
    <meta charset="UTF-8">
    <title>Compare Products</title>
    <meta name="description" content="The comparison tool">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="compareApp" ng-controller="CompareCtrl" class="container-fluid">
        <header id="headerMobile" class="hidden-desktop">
            <compare-header-mobile select-is-hidden="mobileSelectIsHidden" products-to-compare="productsToCompare" current-product="currentMobileProduct"
                                   on-show-mobile="showMobileSelect()" on-change-mobile="changeMobileSelection()"></compare-header-mobile>
        </header>
        <section id="tableMobile" class="row hidden-desktop">
            <div class="col-xs-2 margin-top">
                <button type="button" class="btn btn-lg btn-blue" ng-click="navigateLeft()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </div>
            <div class="col-xs-8 margin-top"><h4 class="text-center">{{currentMobileProductTitle()}}</h4></div>
            <div class="col-xs-2 margin-top">
                <button type="button" class="btn btn-lg btn-blue pull-right" ng-click="navigateRight()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
            <div class="col-xs-12 margin-top" ng-hide="selectedProducts[currentMobileIndex].id == 0">
                <compare-tech-specs prod="selectedProducts[currentMobileIndex]"></compare-tech-specs>
            </div>
        </section>
        <header id="headerDesktop" class="row hidden-mobile">
            <compare-header-desktop></compare-header-desktop>
        </header>
        <section id="tableDesktop" class="row hidden-mobile">
            <div class="col-sm-4" ng-show="selectedProducts[0].id != 0">
                <compare-tech-specs prod="selectedProducts[0]"></compare-tech-specs>
            </div>
            <div class="col-sm-4" ng-show="selectedProducts[1].id != 0" ng-class="{'col-sm-offset-4': selectedProducts[0].id == 0}">
                <compare-tech-specs prod="selectedProducts[1]"></compare-tech-specs>
            </div>
            <div class="col-sm-4" ng-show="selectedProducts[2].id != 0" ng-class="{'col-sm-offset-4': selectedProducts[0].id != 0 && selectedProducts[1].id == 0, 'col-sm-offset-8': selectedProducts[0].id == 0 && selectedProducts[1].id == 0}">
                <compare-tech-specs prod="selectedProducts[2]"></compare-tech-specs>
            </div>
        </section>
    </div>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/compareCtrl.js"></script>
    <script src="js/services/compareModel.js"></script>
    <script src="js/directives/compareHeaderMobile.js"></script>
    <script src="js/directives/compareHeaderDesktop.js"></script>
    <script src="js/directives/compareTechSpecs.js"></script>
</body>
</html>