<div class="col-xs-12">
    <h1>Compare Products</h1>
    <hr>
</div>
<form>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <label for="productOne">Product 1</label>
            <select ng-show="selectedProducts[0].id == 0" id="productOne" class="form-control margin-top" ng-model="selectedProducts[0]" ng-options="product.title for product in productsToCompare"
                    ng-change="changeSelection()"></select>
        </div>
        <div class="row" ng-hide="selectedProducts[0].id == 0">
            <div class="col-sm-8 col-md-9">
                <h4>{{selectedProducts[0].title}}</h4>
            </div>
            <div class="col-sm-4 col-md-3"><button class="btn btn-sm btn-blue pull-right" ng-click="resetSelection(0)">Remove</button></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <label for="productTwo">Product 2</label>
            <select ng-show="selectedProducts[1].id == 0" id="productTwo" class="form-control margin-top" ng-model="selectedProducts[1]" ng-options="product.title for product in productsToCompare"
                    ng-change="changeSelection()"></select>
        </div>
        <div class="row" ng-hide="selectedProducts[1].id == 0">
            <div class="col-sm-8 col-md-9">
                <h4>{{selectedProducts[1].title}}</h4>
            </div>
            <div class="col-sm-4 col-md-3"><button class="btn btn-sm btn-blue pull-right" ng-click="resetSelection(1)">Remove</button></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <label for="productThree">Product 3</label>
            <select ng-show="selectedProducts[2].id == 0" id="productThree" class="form-control margin-top" ng-model="selectedProducts[2]" ng-options="product.title for product in productsToCompare"
                    ng-change="changeSelection()"></select>
        </div>
        <div class="row" ng-hide="selectedProducts[2].id == 0">
            <div class="col-sm-8 col-md-9">
                <h4>{{selectedProducts[2].title}}</h4>
            </div>
            <div class="col-sm-4 col-md-3"><button class="btn btn-sm btn-blue pull-right" ng-click="resetSelection(2)">Remove</button></div>
        </div>
    </div>
</form>
<div class="col-xs-12">
    <hr>
</div>