<div class="col-xs-12">
    <h1>Compare Products</h1>
    <hr>
</div>
<div class="col-xs-12 btn-group btn-group-justified" role="group">
    <a role="button" class="btn btn-default tab" ng-click="showMobileSelect(0)">Product 1</a>
    <a role="button" class="btn btn-default tab" ng-click="showMobileSelect(1)">Product 2</a>
    <a role="button" class="btn btn-default tab" ng-click="showMobileSelect(2)">Product 3</a>
</div>
<div class="col-xs-12" ng-hide="mobileSelectIsHidden">
    <select class="form-control margin-top" ng-model="currentMobileProduct" ng-options="product.title for product in productsToCompare"
            ng-change="changeMobileSelection()"></select>
</div>