<table class="table">
    <tbody>
        <tr>
            <th>Price</th>
            <td>{{product.price | currency: "£"}}</td>
        </tr>
        <tr>
            <th>Operating system</th>
            <td>{{product.operatingSystem}}</td>
        </tr>
        <tr>
            <th>Dimensions (mm)</th>
            <td>{{product.dimensions}}</td>
        </tr>
        <tr>
            <th>Weight (kg)</th>
            <td>{{product.weight}}</td>
        </tr>
        <tr>
            <th>Transport weight (kg)</th>
            <td>{{product.transportWeight}}</td>
        </tr>
        <tr>
            <th>Processor</th>
            <td>{{product.processor}}</td>
        </tr>
        <tr>
            <th>Processor speed (GHz)</th>
            <td>{{product.processorSpeed}}</td>
        </tr>
        <tr>
            <th>RAM (GB)</th>
            <td>{{product.ram}}</td>
        </tr>
        <tr>
            <th>Type of storage</th>
            <td>{{product.typeOfStorage}}</td>
        </tr>
        <tr>
            <th>Storage capacity (GB)</th>
            <td>{{product.storageCapacity}}</td>
        </tr>
    </tbody>
</table>